/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {list-style: none;}

a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 3px;
}

img {display: block;}

input {outline: 0;}

/* header */
#navigation {
  width: fit-content;
  margin-top: 12px;
  margin-bottom: 106px;
  gap: 140px;
  justify-content: center;
  align-items: center;
}

.logo img {padding-top: 5px;}

.nav-container .flex {gap: 34px;}

.nav-container:nth-child(2) img {
  display: inline-block;
  margin-left: 10px;
}

.brief {
  width: 948px;
  margin-bottom: 56px;
}
  

.brief h1 {
  line-height: 96px;
  text-align: center;
  margin-bottom: 20px;
}

.brief img {margin-top: -20px;}

.brief p {
  line-height: 28px;
  width: 781px;
  padding: 0 20px;
  margin-bottom: 40px;
}

.brief .buttons {gap: 53px;}

.banner {
  position: relative;
  margin-left: 369px;
  padding: 24px 0 76px 65px;
}

.banner > img {
  position: absolute;
  top: 10px;
}

.banner-box {
  position: relative;
  z-index: 4;
  width: 768px;
  height: 224px;
  padding: 40px 60px;
  background-image: linear-gradient(to right, #eaeff3, 20%,#fff, #fff);
  border: 1px solid #679ceb;
  border-radius: 20px;
}

.banner-box img {margin-bottom: 16px;}

.banner-box p {width: 350px;}

/* Info Section */
.info-content {
  background-color: #F9FBFD;
  padding: 60px 0;
  display: grid;
  grid-template-columns: max-content auto;
  justify-content: center;
  gap: 120px;
  margin-bottom: 128px;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: auto auto;
  gap: 72px;
}

.stats-group {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 72px;
}

.stats-description {line-height: 24px;}

/* features section */
.features {
  display: grid;
  grid-template-columns: auto auto;
  gap: 96px;
  justify-content: center;
}

.features-title-container {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
}

.features-description {
  padding-left: 28.1px;
  width: 370px;
  line-height: 28px;
}

.features-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.features-group {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  margin-bottom: 64px;
}

.features-item-icon {margin-bottom: 40px;}

.features-item-title {margin-bottom: 16px;}

.features-item-description {
  width: 340px;
  line-height: 24px;
}

/* Pricing section */
.pricing-header {
  margin-top: 108px;
  margin-bottom: 68px;
}

.pricing-title-container {
  display: flex;
}

.pricing-title {
  padding-left: 16px;
  padding-right: 2px;
  line-height: 48px;
  margin-bottom: 8px;
}

.pricing-description {
  text-align: center;
  width: 556px;
  padding-left: 18.1px;
  padding-right: 2px;
  line-height: 24px;
}

.pricing-group {
  position: relative;
  height: fit-content;
  display: grid;
  grid-template-columns: 379px 410px 379px;
  justify-content: center;
  align-items: center;
  margin-bottom: 68px;
}

.plan:nth-child(1), 
.plan:nth-child(3) {
  position: relative;
  z-index: 1;
  padding-top: 24px;
  padding-left: 87px;
  padding-bottom: 43px;
  border: 0.4px solid rgba(0, 90, 226, 1);
  border-radius: 10px;
}

.plan:nth-child(1) {margin-right: -40px;}

.plan:nth-child(3) {margin-left: -40px;}

.plan:nth-child(2) {
  position: relative;
  z-index: 3;
  padding-top: 95px;
  padding-left: 65px;
  padding-bottom: 148px;
  color: #fff;
  background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
  border-radius: 10px;
}

.plan:nth-child(1) .plan-name, 
.plan:nth-child(2) .plan-name, 
.plan:nth-child(3) .plan-name {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.plan:nth-child(1) .price-container, 
.plan:nth-child(2) .price-container, 
.plan:nth-child(3) .price-container {margin-bottom: 16px;}

.plan:nth-child(1) .price, 
.plan:nth-child(2) .price, 
.plan:nth-child(3) .price {
  line-height: 48px;
  margin-bottom: 8px;
}

.plan:nth-child(1) .price-description, 
.plan:nth-child(2) .price-description, 
.plan:nth-child(3) .price-description {
  font-size: 20px;
  line-height: 32px;
}

.plan:nth-child(1) .plan-features li, 
.plan:nth-child(3) .plan-features li {
  background-image: url(/icons/check-circle-blue.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

.plan:nth-child(2) .plan-features li {
  background-image: url(/icons/check-circle-white.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

.plan:nth-child(1) .plan-features li:last-child, 
.plan:nth-child(2) .plan-features li:last-child, 
.plan:nth-child(3) .plan-features li:last-child {
  margin-bottom: 0;
}

.price-buttons {
  gap: 12px;
  margin-bottom: 112px;
}

.price-buttons p:nth-child(1) a {
  background-color: #fff;
  color: #0065FE;
  border: 0.4px solid #0065FE;
}